body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_1 {
  width: 15rem; 
  height: 3.125rem;
  background-color: #001a96;
  color: white;
  text-align: center;
  border-style: solid;
  border-width: 0.125rem;
  border-color:whitesmoke;
  font-weight: bold;
  border-radius: 1rem;
}

.btn_1:hover {
  background-color: white;
  color: #001a96;
}

.counter_label {
color: white;
font-size: 4vw;
}

.category-tally {
  border-color: black;
  border-style: solid;
  border-width: thin;
  background-color:#001a96 ;
  padding: 1.25rem; 
  margin: 0.25rem; 
  border-radius: 1.5rem;
  min-width: 200px;
  min-height: 50px;
}

.undo-icon {
 background: transparent;
 float: right;
}

.total-label {
  font-size: 6vw;
  font-family: Cookie;
  padding-top: 1.5rem;
  float: left;
  color: #e00099;
  /* color: pink;
  border-color: pink;
  border-style: solid;
  border-radius: 1rem;;
  border-width: thin;
  width: 500px; */
}
.title-label {
  font-family: Cookie;
  font-size: 7vw;
  padding-top: 20px;
  padding-bottom: 20px;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.undo-icon:hover {
  cursor: pointer; 
}

.image-info {
  overflow: hidden;
}
.container {
  min-height: 0px;
  max-width: 100%;
}

hr {
  border: 3px solid #e00099;
  background: #e00099;
}
.clipboard-btn {
  float: right;
  background: white;
  border-style: solid;
  border-color: #001a96 ;
  color:#001a96;
  /* font-weight: bold; */
  /* border-radius: 1rem; */
  border-width: 0.1rem;
  width: 17rem;
  height: 3rem;
}
 .clipboard-btn:hover {
   background-color: #001a96;
   color: white;
 }

 .copied-status {
   font-weight: bold;
   float: right;
   padding-right: 10px;
   text-align: center;
 }